<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>carrier</key>
		<string>KPN</string>
		<key>iso</key>
		<string>nl</string>
		<key>mcc</key>
		<string>204</string>
		<key>mnc</key>
		<string>08</string>
		<key>name</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>AT&amp;T</string>
		<key>iso</key>
		<string>us</string>
		<key>mcc</key>
		<string>310</string>
		<key>mnc</key>
		<string>410</string>
		<key>name</key>
		<string>United States</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>EE</string>
		<key>iso</key>
		<string>gb</string>
		<key>mcc</key>
		<string>234</string>
		<key>mnc</key>
		<string>30</string>
		<key>name</key>
		<string>United Kingdom</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telekom</string>
		<key>iso</key>
		<string>de</string>
		<key>mcc</key>
		<string>262</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Orange</string>
		<key>iso</key>
		<string>fr</string>
		<key>mcc</key>
		<string>208</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>France</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Movistar</string>
		<key>iso</key>
		<string>es</string>
		<key>mcc</key>
		<string>214</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>TIM</string>
		<key>iso</key>
		<string>it</string>
		<key>mcc</key>
		<string>222</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Italy</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telia</string>
		<key>iso</key>
		<string>se</string>
		<key>mcc</key>
		<string>240</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Sweden</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Orange</string>
		<key>iso</key>
		<string>pl</string>
		<key>mcc</key>
		<string>260</string>
		<key>mnc</key>
		<string>03</string>
		<key>name</key>
		<string>Poland</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Kyivstar</string>
		<key>iso</key>
		<string>ua</string>
		<key>mcc</key>
		<string>255</string>
		<key>mnc</key>
		<string>03</string>
		<key>name</key>
		<string>Ukraine</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Beeline</string>
		<key>iso</key>
		<string>kz</string>
		<key>mcc</key>
		<string>401</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Kazakhstan</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>MTS</string>
		<key>iso</key>
		<string>ru</string>
		<key>mcc</key>
		<string>250</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Russia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Turkcell</string>
		<key>iso</key>
		<string>tr</string>
		<key>mcc</key>
		<string>286</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Turkey</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Vivo</string>
		<key>iso</key>
		<string>br</string>
		<key>mcc</key>
		<string>724</string>
		<key>mnc</key>
		<string>06</string>
		<key>name</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telcel</string>
		<key>iso</key>
		<string>mx</string>
		<key>mcc</key>
		<string>334</string>
		<key>mnc</key>
		<string>03</string>
		<key>name</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telus</string>
		<key>iso</key>
		<string>ca</string>
		<key>mcc</key>
		<string>302</string>
		<key>mnc</key>
		<string>220</string>
		<key>name</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telstra</string>
		<key>iso</key>
		<string>au</string>
		<key>mcc</key>
		<string>505</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>NTT Docomo</string>
		<key>iso</key>
		<string>jp</string>
		<key>mcc</key>
		<string>440</string>
		<key>mnc</key>
		<string>10</string>
		<key>name</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>SK Telecom</string>
		<key>iso</key>
		<string>kr</string>
		<key>mcc</key>
		<string>450</string>
		<key>mnc</key>
		<string>05</string>
		<key>name</key>
		<string>South Korea</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Airtel</string>
		<key>iso</key>
		<string>in</string>
		<key>mcc</key>
		<string>404</string>
		<key>mnc</key>
		<string>10</string>
		<key>name</key>
		<string>India</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telkomsel</string>
		<key>iso</key>
		<string>id</string>
		<key>mcc</key>
		<string>510</string>
		<key>mnc</key>
		<string>10</string>
		<key>name</key>
		<string>Indonesia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Viettel</string>
		<key>iso</key>
		<string>vn</string>
		<key>mcc</key>
		<string>452</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Vietnam</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>AIS</string>
		<key>iso</key>
		<string>th</string>
		<key>mcc</key>
		<string>520</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Thailand</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Globe</string>
		<key>iso</key>
		<string>ph</string>
		<key>mcc</key>
		<string>515</string>
		<key>mnc</key>
		<string>02</string>
		<key>name</key>
		<string>Philippines</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>A1</string>
		<key>iso</key>
		<string>by</string>
		<key>mcc</key>
		<string>257</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Belarus</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Orange</string>
		<key>iso</key>
		<string>md</string>
		<key>mcc</key>
		<string>259</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Moldova</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Geocell</string>
		<key>iso</key>
		<string>ge</string>
		<key>mcc</key>
		<string>282</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Georgia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Beeline</string>
		<key>iso</key>
		<string>am</string>
		<key>mcc</key>
		<string>283</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Armenia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Azercell</string>
		<key>iso</key>
		<string>az</string>
		<key>mcc</key>
		<string>400</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Azerbaijan</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Beeline</string>
		<key>iso</key>
		<string>uz</string>
		<key>mcc</key>
		<string>434</string>
		<key>mnc</key>
		<string>04</string>
		<key>name</key>
		<string>Uzbekistan</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Beeline</string>
		<key>iso</key>
		<string>kg</string>
		<key>mcc</key>
		<string>437</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Kyrgyzstan</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Babilon</string>
		<key>iso</key>
		<string>tj</string>
		<key>mcc</key>
		<string>436</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Tajikistan</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telia</string>
		<key>iso</key>
		<string>lt</string>
		<key>mcc</key>
		<string>246</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Lithuania</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>LMT</string>
		<key>iso</key>
		<string>lv</string>
		<key>mcc</key>
		<string>247</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Latvia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telia</string>
		<key>iso</key>
		<string>ee</string>
		<key>mcc</key>
		<string>248</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Estonia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Elisa</string>
		<key>iso</key>
		<string>fi</string>
		<key>mcc</key>
		<string>244</string>
		<key>mnc</key>
		<string>91</string>
		<key>name</key>
		<string>Finland</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telenor</string>
		<key>iso</key>
		<string>no</string>
		<key>mcc</key>
		<string>242</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Norway</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>TDC</string>
		<key>iso</key>
		<string>dk</string>
		<key>mcc</key>
		<string>238</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Denmark</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Vodafone</string>
		<key>iso</key>
		<string>ie</string>
		<key>mcc</key>
		<string>272</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Ireland</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Vodafone</string>
		<key>iso</key>
		<string>pt</string>
		<key>mcc</key>
		<string>268</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Cosmote</string>
		<key>iso</key>
		<string>gr</string>
		<key>mcc</key>
		<string>202</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Greece</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>T-Mobile</string>
		<key>iso</key>
		<string>cz</string>
		<key>mcc</key>
		<string>230</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Czechia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Orange</string>
		<key>iso</key>
		<string>sk</string>
		<key>mcc</key>
		<string>231</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Slovakia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telekom</string>
		<key>iso</key>
		<string>hu</string>
		<key>mcc</key>
		<string>216</string>
		<key>mnc</key>
		<string>30</string>
		<key>name</key>
		<string>Hungary</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Vodafone</string>
		<key>iso</key>
		<string>ro</string>
		<key>mcc</key>
		<string>226</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Romania</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>A1</string>
		<key>iso</key>
		<string>bg</string>
		<key>mcc</key>
		<string>284</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Telekom</string>
		<key>iso</key>
		<string>rs</string>
		<key>mcc</key>
		<string>220</string>
		<key>mnc</key>
		<string>03</string>
		<key>name</key>
		<string>Serbia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>T-Mobile</string>
		<key>iso</key>
		<string>hr</string>
		<key>mcc</key>
		<string>219</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>A1</string>
		<key>iso</key>
		<string>at</string>
		<key>mcc</key>
		<string>232</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Austria</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Swisscom</string>
		<key>iso</key>
		<string>ch</string>
		<key>mcc</key>
		<string>228</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Switzerland</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Proximus</string>
		<key>iso</key>
		<string>be</string>
		<key>mcc</key>
		<string>206</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Belgium</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Partner</string>
		<key>iso</key>
		<string>il</string>
		<key>mcc</key>
		<string>425</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Israel</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Etisalat</string>
		<key>iso</key>
		<string>ae</string>
		<key>mcc</key>
		<string>424</string>
		<key>mnc</key>
		<string>02</string>
		<key>name</key>
		<string>United Arab Emirates</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>STC</string>
		<key>iso</key>
		<string>sa</string>
		<key>mcc</key>
		<string>420</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Saudi Arabia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Orange</string>
		<key>iso</key>
		<string>eg</string>
		<key>mcc</key>
		<string>602</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Egypt</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Vodacom</string>
		<key>iso</key>
		<string>za</string>
		<key>mcc</key>
		<string>655</string>
		<key>mnc</key>
		<string>10</string>
		<key>name</key>
		<string>South Africa</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>MTN</string>
		<key>iso</key>
		<string>ng</string>
		<key>mcc</key>
		<string>621</string>
		<key>mnc</key>
		<string>30</string>
		<key>name</key>
		<string>Nigeria</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Personal</string>
		<key>iso</key>
		<string>ar</string>
		<key>mcc</key>
		<string>722</string>
		<key>mnc</key>
		<string>34</string>
		<key>name</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Entel</string>
		<key>iso</key>
		<string>cl</string>
		<key>mcc</key>
		<string>730</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Claro</string>
		<key>iso</key>
		<string>co</string>
		<key>mcc</key>
		<string>732</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Movistar</string>
		<key>iso</key>
		<string>pe</string>
		<key>mcc</key>
		<string>716</string>
		<key>mnc</key>
		<string>06</string>
		<key>name</key>
		<string>Peru</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Vodafone</string>
		<key>iso</key>
		<string>nz</string>
		<key>mcc</key>
		<string>530</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>New Zealand</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Maxis</string>
		<key>iso</key>
		<string>my</string>
		<key>mcc</key>
		<string>502</string>
		<key>mnc</key>
		<string>12</string>
		<key>name</key>
		<string>Malaysia</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Singtel</string>
		<key>iso</key>
		<string>sg</string>
		<key>mcc</key>
		<string>525</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Singapore</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Mobilink</string>
		<key>iso</key>
		<string>pk</string>
		<key>mcc</key>
		<string>410</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Pakistan</string>
	</dict>
	<dict>
		<key>carrier</key>
		<string>Grameenphone</string>
		<key>iso</key>
		<string>bd</string>
		<key>mcc</key>
		<string>470</string>
		<key>mnc</key>
		<string>01</string>
		<key>name</key>
		<string>Bangladesh</string>
	</dict>
</array>
</plist>
